
* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
  --title-font: 'Roboto', sans-serif;
  --body-font:'Poppins', sans-serif;
}

body{
  height: 100%;
  width: 100%;
  background-color: var(--background);
}



#home {
  color: var(--text-base);
  width: 50%; 
  float: left; 
}



img {
float: right;
width: 50%;
height: 100%;
}