
* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
  --title-font: 'Roboto', sans-serif;
  --body-font:'Poppins', sans-serif;
}

h2{
  font: 500 1.5rem var(--title-font);
  color: var(--text-title);
}

h4{
  font: 500 .9rem var(--body-font);
  color: var(--text-base);
}

body{
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  
}



#home {
  color: var(--text-base);
  width: 50%; 
  float: left; 
}

#home img {
  height: 2rem;
  float: left;
}

.icon {
  height: 9.6rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
}

img {
float: right;
height: 100%;
}


.content {
  background-color: var(--form-background);
  margin-left: 4.625rem;
  margin-right: 4.625rem;
  
  padding-top: 3.43rem;
  padding-left: 7.43rem;
  padding-right: 7.43rem;
  padding-bottom:3.43rem;
  
}

.content span img {
  margin-right: 0.625rem;
  width: 24px;
}

.content  h4 {

  padding-left: 0;
  margin-left:0;
  margin-top: 5px;
  
}

.container {
  margin-bottom: 1.6875rem ;
  align-items: center;
  
  
  
}